h1, h2 {
    font-family: bungee, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3rem;
}

h3 {
    font-family: carbon, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.heading::before {
    content: "";
    display: block;
    padding-top: 90px;
    margin-top: -45px;
}