h1, h2 {
    font-family: bungee, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(3 * var(--default-font-size));
    text-transform: uppercase;
    line-height: 3rem;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1.5rem;
}

h3 {
    font-family: carbon, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 3px;
    font-size: calc(1.5 * var(--default-font-size));
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.heading.linked::before {
    content: "";
    display: block;
    padding-top: 75px;
    margin-top: -45px;
}

.heading.linked .link-icon-container {
    width: 1rem;
    height: fit-content;
    line-height: 100%;
    border-bottom: 1px solid var(--color);
    display: inline-block;
}

.heading.linked .link-icon-container svg {
    width: 100%;
    height: auto;
    overflow: visible;
}

.heading.linked .link-icon-container svg .hexagon {
    fill: none;
    stroke: var(--color);
    stroke-miterlimit: 10;
    stroke-width: 20px;
    fill-rule: evenodd;
    transition: transform .1s var(--default-animation-timing-function) 0s;
    --translate-distance: 2rem;
}

.heading.linked .link-icon-container:hover svg .hexagon:nth-child(1) {
    transform: translate(var(--translate-distance), calc(-1 * var(--translate-distance)));
}

.heading.linked .link-icon-container:hover svg .hexagon:nth-child(2) {
    transform: translate(calc(-1 * var(--translate-distance)), var(--translate-distance));
}