@import url("https://use.typekit.net/mnu5yrs.css");

:root {
    --color: #5db18a;
    --background-color: #0f1a25;

    --default-animation-timing-function: cubic-bezier(0.4, 0.2, 0.6, 1);

    --iphone-browser-bottom-nav-height: 3.3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --default-font-size: 1.1rem;
    font-size: var(--default-font-size);
}

html {
    color: var(--color);
    background-color: var(--background-color);
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

main {
    margin-bottom: 8rem;
}

body {
    width: 100vw;
    min-height: 100vh;
}

section.main-section {
    --h-padding: 10vw;
    padding: 0 var(--h-padding) 0 calc(var(--h-padding) - var(--side-bar-width));
    margin-bottom: 3.5rem;
}

section.sub-section {
    margin-bottom: 2.5rem;
}

p {
    width: 80vw;
    max-width: 60rem;
    margin-bottom: 1rem;
}

a {
    color: var(--color);
}

@keyframes draw-svg {
    0% {
        stroke-dashoffset: var(--path-length);
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-svg-from-center {
    0% {
        stroke-dasharray: 0 var(--path-length);
        stroke-dashoffset: var(--negative-half-path-length); /* must be defined in JS or literal, calc() doesn't work in CSS keyframes definition */
    }

    100% {
        stroke-dasharray: var(--path-length) var(--path-length);
        stroke-dashoffset: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: var(--opacity);
    }
}
