@import url("https://use.typekit.net/mnu5yrs.css");

:root {
    --color: #5db18a;
    --background-color: #0f1a25;
    --default-animation-timing-fuction: cubic-bezier(0.4, 0.2, 0.6, 1);

    --iphone-browser-bottom-nav-height: 3.3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--color);
    background-color: var(--background-color);
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    min-height: 100vh;
}

section {
    min-height: 100vh;
}

a {
    color: var(--color);
}

@keyframes draw-svg {
    0% {
        stroke-dashoffset: var(--path-length);
    }

    100% {
        stroke-dashoffset: 0;
    }
}
