@import url("https://use.typekit.net/mnu5yrs.css");

:root {
    --color: #5db18a;
    --background-color: #0f1a25;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--color);
    background-color: var(--background-color);
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    min-height: 100vh;
}

a {
    color: var(--color);
}
