.company-name-container {
    display: flex;
}

.company-name-container.word-flow-row {
    flex-flow: row;
}

.company-name-container.word-flow-column {
    flex-flow: column;
}

.company-name-word-container .company-name-letter {
    fill: none;
    stroke: var(--color);
    stroke-miterlimit:10;
}

.company-name-word-container svg {
    width: fit-content;
}

.company-name-word-container svg path {
    stroke-dasharray: var(--path-length);
}

.company-name-word-container.animate-on-mount svg path {
    --path-length: 0;
    --base-animation-delay: 0;
    --letter-animation-spacing: .25s;
    --letter-animation-order: 0;
    animation: draw-svg 1.5s var(--default-animation-timing-function) 0s both;
    animation-delay: calc(var(--base-animation-delay) + var(--letter-animation-spacing) * var(--letter-animation-order));
}

