main.not-found {
    margin-bottom: 0;
}

main.not-found .not-found-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main.not-found h1 {
    font-size: 8vw;
    z-index: -1;
}
