:root {
    --side-bar-width: 5vw;
}

.side-bar {
    background-color: var(--background-color);
    width: var(--side-bar-width);
    height: 100vh;
    border-right: 1px solid var(--color);
    position: fixed;
    top: 0;
    left: 0;
}
