:root {
    --side-bar-width: 5vw;
}

.side-bar {
    background-color: var(--background-color);
    width: var(--side-bar-width);
    height: calc(100 * var(--vh, 1vh));
    position: fixed;
    top: 0;
    left: 0;

    --logo-top: .3rem;
    --logo-width: 2.5rem;
    --root-3: 1.7320508076;
    --logo-height: calc(2 * var(--logo-width) / var(--root-3));

    --border-bottom-height: 120.35px;
}

.side-bar .side-bar-border-piece-container .border-fill,
.side-bar .side-bar-border-piece-container .border,
.side-bar .side-bar-border-piece-container .hexagon {
    fill: none;
    stroke-miterlimit: 10;
}

.side-bar .side-bar-border-piece-container .border-fill {
    stroke: var(--background-color);
    fill: var(--background-color);
    fill-rule: evenodd;
}

.side-bar .side-bar-border-piece-container .border,
.side-bar .side-bar-border-piece-container .hexagon {
    stroke: var(--color);
}

.side-bar .side-bar-border-piece-container .hexagon {
    fill: var(--background-color);
    fill-opacity: 0.75;
    fill-rule: evenodd;
}

.side-bar .side-bar-border-piece-container svg .animate-on-mount {
    stroke-dasharray: var(--path-length);
    --side-bar--middle-border-animation-duration: 1.5s;
    --side-bar-border-animation-delay: 1s;
    --side-bar-top-bottom-border-animation-duration: .5s;
}

.side-bar .side-bar-border-top-container svg .border.animate-on-mount,
.side-bar .side-bar-border-bottom-container svg .border.animate-on-mount {
    animation:
        draw-svg
        var(--side-bar-top-bottom-border-animation-duration)
        var(--default-animation-timing-function)
        calc(var(--side-bar--middle-border-animation-duration) + var(--side-bar-border-animation-delay))
        both
    ;
}

.side-bar .side-bar-border-middle-container svg .border.animate-on-mount {
    animation:
        draw-svg-from-center
        var(--side-bar--middle-border-animation-duration)
        linear
        var(--side-bar-border-animation-delay)
        backwards
    ;
}

.side-bar .side-bar-border-piece-container svg .hexagon.animate-on-mount {
    animation:
        draw-svg
        var(--side-bar--middle-border-animation-duration)
        var(--default-animation-timing-function)
        calc(var(--side-bar--middle-border-animation-duration) + var(--side-bar-border-animation-delay) + var(--side-bar-top-bottom-border-animation-duration) / 2)
        both
    ;
}

.side-bar .logo-container,
.side-bar .side-bar-border-piece-container {
    position: absolute;
    left: calc(var(--side-bar-width) - 1px);
}

.side-bar .logo-container {
    width: var(--logo-width);
    top: var(--logo-top);
    z-index: 1;
}

.side-bar .side-bar-border-top-container {
    width: 83.5px;
    height: var(--border-top-height);
    top: 0;
}

.side-bar .side-bar-border-top-container svg {
    width: 100%;
}

.side-bar .side-bar-border-middle-container {
    width: 1px;
    /* height set in React */
    overflow: hidden;
    top: calc(var(--border-top-height) - 1px);
}

.side-bar .side-bar-border-middle-container svg {
    width: 100%;
}

.side-bar .side-bar-border-bottom-container {
    width: 83.5px;
    height: var(--border-bottom-height);
    bottom: 0;
}

.side-bar .side-bar-border-bottom-container svg {
    width: 100%;
}