.glitch-text {
    position: relative;
}

.glitch-text::before,
.glitch-text::after {
    content: attr(data-text);
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes glitch-text-animation-1 {
    0% {
        clip-path: inset(70% 0 22% 0);
    }

    20% {
        clip-path: inset(95% 0 3% 0);
    }

    40% {
        clip-path: inset(41% 0 3% 0);
    }

    60% {
        clip-path: inset(19% 0 54% 0);
    }

    80% {
        clip-path: inset(59% 0 3% 0);
    }

    100% {
        clip-path: inset(40% 0 40% 0);
    }
}

.glitch-text::before {
    text-shadow: -1px 0 #5db1ab;
    left: 2px;
    animation: glitch-text-animation-1 2s infinite linear alternate;
}

@keyframes glitch-text-animation-2 {
    0% {
        clip-path: inset(10% 0 51% 0);
    }

    20% {
        clip-path: inset(47% 0 22% 0);
    }

    40% {
        clip-path: inset(60% 0 5% 0);
    }

    50% {
        clip-path: inset(3% 0 73% 0);
    }

    60% {
        clip-path: inset(33% 0 33% 0);
    }

    80% {
        clip-path: inset(12% 0 65% 0);
    }

    100% {
        clip-path: inset(80% 0 3% 0);
    }
}

.glitch-text::after {
    text-shadow: -1px 0 #b15d9b;
    left: -2px;
    animation: glitch-text-animation-2 2s infinite linear alternate;
}
